<form id="form2" name="form2" method="post" action="index.php">
	<div class="kuai6_nr_l fl">
		<ul>
			<li><span>姓名：</span>
				<input type="text" name="title" placeholder="">
			</li>
			<li><span>联系方式：</span>
				<input type="text" name="tel" placeholder="">
			</li>
			<li><span>邮箱：</span>
				<input type="text" name="email" placeholder="">
			</li>
		</ul>

	</div>
	<div class="kuai6_nr_r fr">
		<ul>
			<li><span>留言:</span>
				<textarea name="content" placeholder=""></textarea>
			</li>
		</ul>
		<input type="hidden" name="a" value="message">
		<input type="submit" value="提   交">
	</div>
</form>
