<extend name="Public/base" />
<block name="main">
    <section id="main" class="fix auto mt30 mb50 bg_fff plr60">
        <div class="div_8 fix mt30 mb20 bnone pl0 pr0">
            <table cellpadding="0" cellspacing="0" border="0" width="1080" class="ta_2">
                <tbody>
                    <tr>
                        <td align="left" width="90">
                            <span class="sp_3">学&nbsp;&nbsp;&nbsp;&nbsp;期：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">寒春</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">学&nbsp;&nbsp;&nbsp;&nbsp;科：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">小学数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">小学语文</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中物理</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中化学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中物理</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中语文</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中化学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">小学英语</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中英语</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">测&nbsp;&nbsp;&nbsp;&nbsp;评：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">3-6岁幼儿英语进阶课程文案</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-12岁少儿英语腾飞课程文案</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">自然拼读英语启蒙课程</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">3-16岁 阅读课程（巴布书屋）</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-16岁 优浦特色创意课程</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-16岁 优浦专项技能突破课程</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">测&nbsp;&nbsp;&nbsp;&nbsp;评：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">一年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">二年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">三年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">四年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">五年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">六年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初一</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初二</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初三</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高一</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="1080" class="ta_3">
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="page_1 fix tc pb50 pt30">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <strong>3</strong>
            <a href="#">4</a> …
            <a href="#">30</a>
            <a href="#">&gt;</a>
        </div>
    </section>
</block>
