<extend name="Public/base" />
<block name="main">
    <section id="main" class="wid1200 fix auto mt30 mb30 bg_BEEFFD">
        <div class="div_L fix fl">
            <ul class="nav_4 fix pb30">
                <li class="l_6 l_h"><a href="#">首页</a></li>
                <li class="l_7"><a href="#">账号管理</a></li>
                <li class="l_8"><a href="#">班级管理</a></li>
                <li class="l_9"><a href="#">学员管理</a></li>
                <li class="l_10"><a href="#">基础设置</a></li>
                <li class="l_11"><a href="#">考勤</a></li>
                <li class="l_12"><a href="#">购买教材</a></li>
            </ul>
        </div>
        <div class="div_R fix fl bg_fff pt30">
            <div class="fix tc pb25">
                <a href="#" class="dib"><img src="__HOME__images/img19.png" class="vm"></a>
            </div>
            <h2 class="fix">
        	<span class="sp_9 fl">欢迎进入去上学教务管理系统！</span>
            <span class="sp_10 fr">距离您去上学系统续费还有<em>10</em>天</span>
        </h2>
            <h2 class="fix h_7 tr">
        	2016-07-06    晴
        </h2>
            <div class="fix bor_rad bg_fff pl30 pr30 pt10 pb10 mt25 mb25 div_18">
                <h2 class="h_8 fix">
            	<span>最新动态</span><a href="#">更多&nbsp;&nbsp;>></a>
            </h2>
                <ul class="nav_5 fix">
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                    <li><a href="#"><span>【教材】高斯数学-小学 教学计划  已上传</span><em>2016.07.28</em></a></li>
                </ul>
            </div>
            <div class="fix">
                <div class="div_19 fix bor_rad_5 fl">
                    <div class="div_20 fix fl bg_2 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v1.png" class="vm"></span>
                            <em class="em_2">账号管理</em>
                        </a>
                    </div>
                </div>
                <div class="div_19 fix bor_rad_5 fl">
                    <div class="div_20 fix fl bg_3 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v2.png" class="vm"></span>
                            <em class="em_2">班级管理</em>
                        </a>
                    </div>
                </div>
                <div class="div_19 fix bor_rad_5 fl mr0">
                    <div class="div_20 fix fl bg_4 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v3.png" class="vm"></span>
                            <em class="em_2">学员管理</em>
                        </a>
                    </div>
                </div>
                <div class="div_19 fix bor_rad_5 fl">
                    <div class="div_20 fix fl bg_5 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v4.png" class="vm"></span>
                            <em class="em_2">基础设置</em>
                        </a>
                    </div>
                </div>
                <div class="div_19 fix bor_rad_5 fl">
                    <div class="div_20 fix fl bg_6 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v5.png" class="vm"></span>
                            <em class="em_2">考勤</em>
                        </a>
                    </div>
                </div>
                <div class="div_19 fix bor_rad_5 fl mr0">
                    <div class="div_20 fix fl bg_7 bor_rad_5">
                        <a href="#">
                            <span class="sp_11 tc"><img src="__HOME__images/v6.png" class="vm"></span>
                            <em class="em_2">购买教材</em>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
