<div class="div_L fix fl">
    <ul class="nav_4 fix pb30">
        <li class="l_6 <if condition="ACTION_NAME == 'index'">l_h</if>"><a href="{:U('index')}">首页</a></li>
        <li class="l_7 <if condition="ACTION_NAME == 'account'">l_h</if>"><a href="{:U('account')}">账号管理</a></li>
        <li class="l_8 <if condition="ACTION_NAME == 'banji'">l_h</if>"><a href="{:U('banji')}">班级管理</a></li>
        <li class="l_9 <if condition="ACTION_NAME == 'student'">l_h</if>"><a href="{:U('student')}">学员管理</a></li>
        <li class="l_10 <if condition="ACTION_NAME == 'settings'">l_h</if>"><a href="{:U('settings')}">基础设置</a></li>
        <li class="l_11 <if condition="ACTION_NAME == 'kaoqin'">l_h</if>"><a href="{:U('kaoqin')}">考勤</a></li>
        <li class="l_12 <if condition="ACTION_NAME == 'jiaocai'">l_h</if>"><a href="{:U('jiaocai')}">购买教材</a></li>
    </ul>
</div>
