<extend name="Public/base" />
<block name="main">
    <section id="main1" class="fix auto bg_1">
        <div class="div_5 fix">
            <ul class="nav_2 fix">
                <li>
                    <div class="div_6 tc">
                        <a href="{:U('Beike/index')}" class="a_1 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Beike/index')}">备课</a>
                    </div>
                </li>
                <li>
                    <div class="div_6 tc">
                        <a href="{:U('Shouke/index')}" class="a_2 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Shouke/index')}">授课</a>
                    </div>
                </li>
                <li>
                    <div class="div_6 tc">
                        <a href="{:U('Jiaowu/index')}" class="a_3 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Jiaowu/index')}">教务管理</a>
                    </div>
                </li>
                <li>
                    <div class="div_6 tc">
                        <a href="{:U('Ceping/index')}" class="a_4 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Ceping/index')}">测评</a>
                    </div>
                </li>
                <li>
                    <div class="div_6 tc">
                        <a href="{:U('Peixun/index')}" class="a_5 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Peixun/index')}">培训</a>
                    </div>
                </li>
                <li class="mr0">
                    <div class="div_6 tc">
                        <a href="{:U('Jiaoguan/index')}" class="a_6 bor_90"><em></em></a>
                    </div>
                    <div class="div_7 tc">
                        <a href="{:U('Jiaoguan/index')}">外教官</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</block>
