<!-- 吴文豹 -->
<extend name="Public/base" />
<block name="banner">
	<section class="h-105"></section>
</block>
<block name="main">
			<section class="container mod-04 auto mb30">
				<ul>
					<volist name="list" id="val">
						<li class="fix">
							<div class="img fl">
								<a href="{$val['url']}"><img src="{:thumb($val['thumb'], 316, 160)}" /></a>
							</div>
							<div class="text fr">
								<p class="mb5 b"><a href="{$val['url']}" class="a-1">{:msubstr($val['title'], 0, 25)}</a></p>
								<p class="fs">{:msubstr($val['description'], 0, 150)}
									<a href="{$val['url']}" class="a-2">
										<了解更多>
									</a>
								</p>
							</div>
						</li>
					</volist>
				</ul>
				<div class="page">
					{$_page}
				</div>
			</section>
</block>
