<!DOCTYPE html>
<html>

<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta charset="utf-8">
    <title>未命名</title>
    <!--[if lt IE 11]>
<script src="__HOME__js/html5shiv.min.js"></script>
<script src="__HOME__js/respond.min.1.4.2.js"></script>
<![endif]-->
    <!--单独CSS-->
    <link type="text/css" rel="stylesheet" href="__HOME__css/style.css" />
    <!--公共样式+公共JS-->
    <link type="text/css" rel="stylesheet" href="__HOME__css/common.css">
    <script type="text/javascript" src="__HOME__js/jquery.js"></script>
    <script type="text/javascript" src="__HOME__js/placeholder.js"></script>
    <script type="text/javascript" src="__HOME__js/jquery.SuperSlide.2.1.js"></script>
    <!--单独JS-->
    <script type="text/javascript" src="__HOME__js/all_js.js"></script>
</head>

<body>
    <!--头部-->
    <header id="header" class="fix auto">
        <div class="wid1200 fix auto rel">
            <a href="#" class="dib fl mt15"><img src="__HOME__images/logo.png" width="175" height="70" class="vm"></a>
            <ul class="nav_3 fix fl">
                <li class="li_1 li_1_h"><a href="#"><span>备课</span></a></li>
                <li class="li_2"><a href="#"><span>授课</span></a></li>
                <li class="li_3"><a href="#"><span>教务管理</span></a></li>
                <li class="li_4"><a href="#"><span>培训</span></a></li>
                <li class="li_5"><a href="#"><span>测评</span></a></li>
                <li class="li_6"><a href="#"><span>外教官</span></a></li>
            </ul>
            <span class="sp_2 fr">
        	<a href="#">安全退出</a>
        </span>
        </div>
    </header>
    <!--主体-->
    <section id="main" class="fix auto mt30 mb50 bg_fff plr60">
        <div class="div_8 fix mt30 mb20 bnone pl0 pr0">
            <table cellpadding="0" cellspacing="0" border="0" width="1080" class="ta_2">
                <tbody>
                    <tr>
                        <td align="left" width="90">
                            <span class="sp_3">学&nbsp;&nbsp;&nbsp;&nbsp;期：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">寒春</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">学&nbsp;&nbsp;&nbsp;&nbsp;科：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">小学数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">小学语文</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中物理</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中化学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中物理</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高中数学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中语文</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中化学</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">小学英语</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初中英语</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">测&nbsp;&nbsp;&nbsp;&nbsp;评：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">3-6岁幼儿英语进阶课程文案</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-12岁少儿英语腾飞课程文案</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">自然拼读英语启蒙课程</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">3-16岁 阅读课程（巴布书屋）</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-16岁 优浦特色创意课程</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">6-16岁 优浦专项技能突破课程</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="sp_3">测&nbsp;&nbsp;&nbsp;&nbsp;评：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">暑秋</a></em>
                            <div class="div_9 fix fl wid_1">
                                <em class="yj em_1"><a href="javascript:void(0)">一年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">二年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">三年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">四年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">五年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">六年级</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初一</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初二</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">初三</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高一</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="1080" class="ta_3">
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="290">
                    <div class="pl30"><a href="#" class="a_7">高斯数学（小学）培优体系测评</a></div>
                </td>
                <td width="130"><span class="sp_5">小学数学</span></td>
                <td width="180"><span class="sp_5">一年级 · 暑秋</span></td>
                <td width="480">
                    <div class="fix pr20 tr">
                        <span class="fix sp_6">
                    	<a href="#" class="aa_1 fl bor_rad_30">查看</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载</a>
                        <a href="#" class="aa_3 fl bor_rad_30">打印</a>
                        <a href="#" class="aa_2 fl bor_rad_30">下载报告</a>
                    </span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="page_1 fix tc pb50 pt30">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <strong>3</strong>
            <a href="#">4</a> …
            <a href="#">30</a>
            <a href="#">&gt;</a>
        </div>
    </section>
    <!--尾部-->
    <footer id="footer" class="fix auto bgnone">
        <div class="div_4 fix">
            <div class="wid1200 auto rel">
                <table cellpadding="0" cellspacing="0" border="0" width="1200" class="ta_1">
                    <tbody>
                        <tr>
                            <td width="300">
                                <div class="div_3 fix">
                                    <h2 class="h_1"><a href="#">关于我们</a></h2>
                                    <ul class="nav_1 fix">
                                        <li><a href="#">- 企业介绍</a></li>
                                        <li><a href="#">- 去上学优势</a></li>
                                        <li><a href="#">- 教研团队介绍</a></li>
                                        <li><a href="#">- 合作客户</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td width="300">
                                <div class="div_3 fix">
                                    <h2 class="h_1"><a href="#">品牌课程体系</a></h2>
                                    <ul class="nav_1 fix">
                                        <li><a href="#">- 自然拼读英语启蒙课程</a></li>
                                        <li><a href="#">- 3-6岁幼儿英语进阶课程</a></li>
                                        <li><a href="#">- 6-12岁少儿英语腾飞课程</a></li>
                                        <li><a href="#">- 6-16岁优浦专项技能课程</a></li>
                                        <li><a href="#">- 3-16岁阅读课程（巴布书屋）</a></li>
                                        <li><a href="#">- 6-16岁优浦特色创意课程</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td width="300">
                                <div class="div_3 fix">
                                    <h2 class="h_1"><a href="#">营销与落地支持</a></h2>
                                    <ul class="nav_1 fix">
                                        <li><a href="#">- 英浦大后台</a></li>
                                        <li><a href="#">- 营销支持</a></li>
                                        <li><a href="#">- 测评系统</a></li>
                                        <li><a href="#">- 教师培训</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td width="300" class="bgnone">
                                <div class="div_3 fix">
                                    <h2 class="h_1"><a href="#">合作</a></h2>
                                    <ul class="nav_1 fix">
                                        <li><a>- 联系电话：<span>4000-870-850</span></a></li>
                                        <li><a href="#">- 申请试用</a></li>
                                        <li><a href="#">- 在线签约</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="div_2 tc">京ICP备16020147号 京公网安备2016061511号</div>
    </footer>
</body>

</html>
