<extend name="Public/base" />
<block name="main">
    <section id="main" class="wid1200 fix auto pt30 pb30">
        <div class="div_8 fix mt30 mb20">
            <table cellpadding="0" cellspacing="0" border="0" width="1148" class="ta_2">
                <tbody>
                    <tr class="tr_1">
                        <td width="55" align="center">
                            <span class="sp_3">分  类：</span>
                        </td>
                        <td width="1015" class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl" id="meau">
                                <em class="yj em_1" data-id="0" id="xue1"><a href="javascript:void(0)">Pre-primary 学前</a></em>
                                <em class="yj em_1" data-id="1" id="xue2"><a href="javascript:void(0)">Primary  小学</a></em>
                                <em class="yj em_1" data-id="2" id="xue3"><a href="javascript:void(0)">Secondary and Adult 中学及成人</a></em>
                                <em class="yj em_1" id="xue1"><a href="javascript:void(0)">Graded Readers  分级读物</a></em>
                                <Span class="sp_4 fix">
                                <em class="yj em_1" id="xue4"><a href="javascript:void(0)">EAP/ Skills   学术英语/ 技能</a></em>
                                <em class="yj em_1" id="xue5"><a href="javascript:void(0)">Exams/ Assessment  考试/ 评估 </a></em>
                            </Span>
                                <input type="hidden" value="">
                            </div>
                        </td>
                        <td width="78" align="right">
                            <a href="javascript:void(0)" class="z_g" data-sz="0">展开</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="div_10 fix fl xuanze hid" id="erji_0">
                                <em class="erji"><a href="javascript:void(0)">学前小班</a></em>
                                <em class="erji"><a href="javascript:void(0)">学前中班</a></em>
                                <em class="erji"><a href="javascript:void(0)">学前大班</a></em>
                                <em class="erji"><a href="javascript:void(0)">小学进阶班</a></em>
                                <input type="hidden" value="">
                            </div>
                            <div class="div_10 fix fl xuanze hid" id="erji_1">
                                <em class="erji"><a href="javascript:void(0)">学前小班</a></em>
                                <input type="hidden" value="">
                            </div>
                            <div class="div_10 fix fl xuanze hid" id="erji_2">
                                <em class="erji"><a href="javascript:void(0)">学前小班</a></em>
                                <em class="erji"><a href="javascript:void(0)">小学进阶班</a></em>
                                <input type="hidden" value="">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <span class="sp_3">学  期：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl">
                                <em class="yj em_1"><a href="javascript:void(0)">暑 假</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">秋 季</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">寒 假</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">春 季</a></em>
                                <Span class="sp_4 fix">
                                <em class="yj em_1"><a href="javascript:void(0)">EAP/ Skills   学术英语/ 技能</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">Exams/ Assessment  考试/ 评估 </a></em>
                            </Span>
                                <input type="hidden" value="">
                            </div>
                        </td>
                        <td align="right">
                            <a href="javascript:void(0)" class="z_g" data-sz="0">展开</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <span class="sp_3">班  型：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl">
                                <em class="yj em_1"><a href="javascript:void(0)">英语初一目标满分班</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高斯数学一年级尖子班（2课时）</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">高斯数学一年级培优班（2课时）</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">思良语文一年级启航班</a></em>
                                <Span class="sp_4 fix">
                                <em class="yj em_1"><a href="javascript:void(0)">EAP/ Skills   学术英语/ 技能</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">Exams/ Assessment  考试/ 评估 </a></em>
                            </Span>
                                <input type="hidden" value="">
                            </div>
                        </td>
                        <td align="right">
                            <a href="javascript:void(0)" class="z_g" data-sz="0">展开</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <span class="sp_3">学  期：</span>
                        </td>
                        <td class="xuanze">
                            <em class="yj qb em_h"><a href="javascript:void(0)">全部</a></em>
                            <div class="div_9 fix fl">
                                <em class="yj em_1"><a href="javascript:void(0)">暑 假</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">秋 季</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">寒 假</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">春 季</a></em>
                                <Span class="sp_4 fix">
                                <em class="yj em_1"><a href="javascript:void(0)">EAP/ Skills   学术英语/ 技能</a></em>
                                <em class="yj em_1"><a href="javascript:void(0)">Exams/ Assessment  考试/ 评估 </a></em>
                            </Span>
                                <input type="hidden" value="">
                            </div>
                        </td>
                        <td align="right">
                            <a href="javascript:void(0)" class="z_g" data-sz="0">展开</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="p10 fix mt20 mb40 bg_E1E1E1">
            <input type="text" placeholder="请输入关键字搜索" class="in_1 fl">
            <input type="button" value="搜索" class="in_2 fr">
        </div>
        <div class="fix">
            <div class="div_13 fix">
                <div class="div_14 fix fl p30">
                    <a href="#" class="dib fl"><img src="__HOME__images/img11.png" width="200" height="155" class="vm"></a>
                    <div class="div_15 fix fr">
                        <h2 class="h_3"><a href="#">【高斯数学-小学】如何讲好第一课</a></h2>
                        <div class="div_16">老师根据学生的学习状况可以对学生针对性的辅导提高，课程设计分为预习课...</div>
                        <span class="sp_7"><a href="#">观看视频</a></span>
                    </div>
                </div>
            </div>
            <div class="div_13 fix">
                <div class="div_14 fix fl p30">
                    <a href="#" class="dib fl"><img src="__HOME__images/img11.png" width="200" height="155" class="vm"></a>
                    <div class="div_15 fix fr">
                        <h2 class="h_3"><a href="#">【高斯数学-小学】如何讲好第一课</a></h2>
                        <div class="div_16">老师根据学生的学习状况可以对学生针对性的辅导提高，课程设计分为预习课...</div>
                        <span class="sp_7"><a href="#">观看视频</a></span>
                    </div>
                </div>
            </div>
            <div class="div_13 fix">
                <div class="div_14 fix fl p30">
                    <a href="#" class="dib fl"><img src="__HOME__images/img11.png" width="200" height="155" class="vm"></a>
                    <div class="div_15 fix fr">
                        <h2 class="h_3"><a href="#">【高斯数学-小学】如何讲好第一课</a></h2>
                        <div class="div_16">老师根据学生的学习状况可以对学生针对性的辅导提高，课程设计分为预习课...</div>
                        <span class="sp_7"><a href="#">观看视频</a></span>
                    </div>
                </div>
            </div>
            <div class="div_13 fix">
                <div class="div_14 fix fl p30">
                    <a href="#" class="dib fl"><img src="__HOME__images/img11.png" width="200" height="155" class="vm"></a>
                    <div class="div_15 fix fr">
                        <h2 class="h_3"><a href="#">【高斯数学-小学】如何讲好第一课</a></h2>
                        <div class="div_16">老师根据学生的学习状况可以对学生针对性的辅导提高，课程设计分为预习课...</div>
                        <span class="sp_7"><a href="#">观看视频</a></span>
                    </div>
                </div>
            </div>
            <div class="div_13 fix">
                <div class="div_14 fix fl p30">
                    <a href="#" class="dib fl"><img src="__HOME__images/img11.png" width="200" height="155" class="vm"></a>
                    <div class="div_15 fix fr">
                        <h2 class="h_3"><a href="#">【高斯数学-小学】如何讲好第一课</a></h2>
                        <div class="div_16">老师根据学生的学习状况可以对学生针对性的辅导提高，课程设计分为预习课...</div>
                        <span class="sp_7"><a href="#">观看视频</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page fix tc pb30 pt30">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <strong>3</strong>
            <a href="#">4</a> …
            <a href="#">30</a>
            <a href="#">&gt;</a>
        </div>
    </section>
</block>
